---
import { links } from "@/constants/socials";
---

<footer class="mt-auto h-auto w-full max-w-2xl overflow-hidden">
  <nav class="w-full">
    <ul
      aria-label="social links"
      class="flex h-auto justify-end gap-3">
      {
        links.map((link) => (
          <li
            class="hover:text-[#58a6ff]"
            aria-label={link.alt}>
            <a
              href={link.href}
              target="_blank"
              class="h-6 w-6 p-2 outline-none focus-visible:text-[#58a6ff]">
              {<link.icon />}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</footer>
