---
import { Image } from "astro:assets";
import { images } from "@/constants/items";
import { cn } from "@/lib/utils";
---

<div class="relative columns-2 gap-4 px-2 sm:columns-3">
  {
    images.map((image, i) => (
      <div
        class={cn(
          "relative h-40 rounded-lg",
          `group bg-white/50 hover:bg-white/80`,
          "transition-colors duration-200",
          (i == 1 || i == 5) && "h-80",
          i == 2 && "h-40 sm:h-80",
          i != 2 && i != 5 && "mb-4 sm:mb-0",
          (i == 0 || i == 2 || i == 4) && "sm:mb-4",
        )}>
        <Image
          src={image.link}
          width={330}
          height={185}
          alt={image.name}
          draggable="false"
          class={cn(
            "absolute h-full rounded-md object-cover object-center",
            "jjk-images mix-blend-multiply transition-colors duration-200",
            i == 0 && "object-left",
            i == 2 && "object-top sm:object-center",
          )}
          fetchpriority="auto"
        />
      </div>
    ))
  }
</div>
