<p class="hyphens-manual text-base leading-7">
  I am a backend Dev. as well as WhatsApp Bot Developer 
  <a
    href="https://expressjs.com/"
    target="_blank"
    class="label inline-flex gap-1">
    <img width="14" height="14" src="/react.min.svg" alt="react icon" />
    Express 
  </a>.
  <br /> I also develop Rest Api And Also Bot
  <a href="https://nodejs.org" target="_blank" class="label inline-flex gap-1">
    <img width="14" height="14" src="/next.min.svg" alt="next.js icon" />Nodejs
  </a>.
</p>
