---
import { cn } from "@/lib/utils";

const navlink = [
  { name: "home", link: "zeyzofc.com" },
  { name: "blog", link: "zeyzofc.com/posts" },
  { name: "guestbook", link: "burungbiru.vercel.app" },
];
const { className } = Astro.props;
---

<nav class={cn("py-8 w-fit text-sm font-medium", className)}>
  <ul class="flex flex-row gap-3">
    {
      navlink.map((nav, i) => (
        <li>
          <a
            class="relative"
            href={`https://${nav.link}`}
            target="_blank">
            {nav.name}
            {i === 0 && (
              <div class="absolute inset-0 top-5 h-[1px] w-full bg-gradient-to-r from-transparent to-[#58a6ff]" />
            )}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
