---
import { Image } from "astro:assets";
---

<div class="space-y-4 text-base">
  <div>
    <p>Forntend Tech Stack</p>
    <Image
      src="https://skillicons.dev/icons?i=js,laravel,codeigniter,html,css
      alt="frontend tech stack"
      draggable="false"
      width={330}
      height={50}
    />
  </div>
  <div>
    <p>Backend Tech Stack</p>
    <Image
      src="https://skillicons.dev/icons?i=js,mysql,express,mongodb"
      alt="backend tech stack"
      draggable="false"
      width={330}
      height={50}
    />
  </div>
</div>
